<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\eAppointment.Backend.WebAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ConnectionString__SqlServer" value="Server=94.73.148.5;Database=u1514136_dbC02;User ID=u1514136_userC02;Password=7Z24E_@F_piqWu_5;Integrated Security=False;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
					<environmentVariable name="Jwt__Issuer" value="https://e-appointment.erengaygusuz.com.tr" />
					<environmentVariable name="Jwt__Audience" value="https://e-appointment.erengaygusuz.com.tr" />
					<environmentVariable name="Jwt__SecretKey" value="XA717kdVkpnbhPKLeSrF0csSaUjBskNLhNvXA717kdVkpnbhPKLeSrF0csSaUjBskNLhNvXA717kdVkpnbhPKLeSrF0csSaUjBskNLhNvXA717kdVkpnbhPKLeSrF0csSaUjBskNLhNv" />
					<environmentVariable name="ResourcePath" value="Resources/" />
					<environmentVariable name="CORS__Origin1" value="http://localhost:4200" />
					<environmentVariable name="CORS__Origin2" value="https://e-appointment-frontend.vercel.app" />
					<environmentVariable name="CORS__Origin3" value="https://www.e.appointment.erengaygusuz.com.tr" />
					<environmentVariable name="User__Profile__Image__Folder__Path" value="Resources/Users/Images/Profile/" />
					<environmentVariable name="EncryptDecryptKey" value="1203199320052021" />
					<environmentVariable name="EncryptDecryptIV" value="1203199320052021" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>